<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                         http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--启用spring的一些annotation -->
    <context:annotation-config/>

    <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
    <context:component-scan base-package="com.project.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--映射静态资源-->
    <mvc:resources location="/static/" mapping="/static/**"/>
    <mvc:resources location="/static/js/" mapping="/js/**"/>
    <!--路径少一个/或者多一个/都会出错很恶心-->
    <mvc:resources location="/static/css/" mapping="/css/**"/>
    <mvc:resources location="/static/css/" mapping="/student/css/**"/>
    <mvc:resources location="/static/css/" mapping="/teacher/css/**"/>

    <!-- 处理器适配器，处理器引射器 -->
    <mvc:annotation-driven/>

    <!-- 支持上传文件 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <!-- 100M -->
        <property name="maxUploadSize" value="104857600"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>


    <!-- 全局异常处理器
    只要你实现了HandlerExceptionResolver接口，这个
    类就是一个全局异常处理器-->
    <bean class="exception.CustomExceptionResolver"></bean>
    <!--视图解析-->


    <bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:interceptors>
        <!-- 多个拦截器，顺序执行 记住一点一个拦截一旦拦截 后面拦截器都会拦截该页面  如果是登录拦截在第一个页面拦截 然后在拦截器里面进行url判断 -->
        <mvc:interceptor>
            <!-- /** 表示所有的url，包括子url路径 认证拦截 -->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <bean class="interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <!-- /** 表示所有的url，包括子url路径 权限拦截-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <bean class="interceptor.PermissionInterceptor"></bean>
        </mvc:interceptor>

    </mvc:interceptors>

</beans>