<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.KcinfoMapper" >
  <resultMap id="BaseResultMap" type="po.Kcinfo" >
    <id column="kcnum" property="kcnum" jdbcType="VARCHAR" />
    <result column="kcxf" property="kcxf" jdbcType="VARCHAR" />
    <result column="kcxs" property="kcxs" jdbcType="VARCHAR" />
    <result column="deptnum" property="deptnum" jdbcType="VARCHAR" />
    <result column="kclx" property="kclx" jdbcType="VARCHAR" />
    <result column="kcmc" property="kcmc" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="po.Kcinfo" extends="BaseResultMap" >
    <result column="kcjj" property="kcjj" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    kcnum, kcxf, kcxs, deptnum, kclx, kcmc
  </sql>
  <sql id="Blob_Column_List" >
    kcjj
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="po.KcinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kcinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.KcinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kcinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kcinfo
    where kcnum = #{kcnum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from kcinfo
    where kcnum = #{kcnum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="po.KcinfoExample" >
    delete from kcinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.Kcinfo" >
    insert into kcinfo (kcnum, kcxf, kcxs, 
      deptnum, kclx, kcmc, 
      kcjj)
    values (#{kcnum,jdbcType=VARCHAR}, #{kcxf,jdbcType=VARCHAR}, #{kcxs,jdbcType=VARCHAR}, 
      #{deptnum,jdbcType=VARCHAR}, #{kclx,jdbcType=VARCHAR}, #{kcmc,jdbcType=VARCHAR}, 
      #{kcjj,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="po.Kcinfo" >
    insert into kcinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kcnum != null" >
        kcnum,
      </if>
      <if test="kcxf != null" >
        kcxf,
      </if>
      <if test="kcxs != null" >
        kcxs,
      </if>
      <if test="deptnum != null" >
        deptnum,
      </if>
      <if test="kclx != null" >
        kclx,
      </if>
      <if test="kcmc != null" >
        kcmc,
      </if>
      <if test="kcjj != null" >
        kcjj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kcnum != null" >
        #{kcnum,jdbcType=VARCHAR},
      </if>
      <if test="kcxf != null" >
        #{kcxf,jdbcType=VARCHAR},
      </if>
      <if test="kcxs != null" >
        #{kcxs,jdbcType=VARCHAR},
      </if>
      <if test="deptnum != null" >
        #{deptnum,jdbcType=VARCHAR},
      </if>
      <if test="kclx != null" >
        #{kclx,jdbcType=VARCHAR},
      </if>
      <if test="kcmc != null" >
        #{kcmc,jdbcType=VARCHAR},
      </if>
      <if test="kcjj != null" >
        #{kcjj,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.KcinfoExample" resultType="java.lang.Integer" >
    select count(*) from kcinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kcinfo
    <set >
      <if test="record.kcnum != null" >
        kcnum = #{record.kcnum,jdbcType=VARCHAR},
      </if>
      <if test="record.kcxf != null" >
        kcxf = #{record.kcxf,jdbcType=VARCHAR},
      </if>
      <if test="record.kcxs != null" >
        kcxs = #{record.kcxs,jdbcType=VARCHAR},
      </if>
      <if test="record.deptnum != null" >
        deptnum = #{record.deptnum,jdbcType=VARCHAR},
      </if>
      <if test="record.kclx != null" >
        kclx = #{record.kclx,jdbcType=VARCHAR},
      </if>
      <if test="record.kcmc != null" >
        kcmc = #{record.kcmc,jdbcType=VARCHAR},
      </if>
      <if test="record.kcjj != null" >
        kcjj = #{record.kcjj,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update kcinfo
    set kcnum = #{record.kcnum,jdbcType=VARCHAR},
      kcxf = #{record.kcxf,jdbcType=VARCHAR},
      kcxs = #{record.kcxs,jdbcType=VARCHAR},
      deptnum = #{record.deptnum,jdbcType=VARCHAR},
      kclx = #{record.kclx,jdbcType=VARCHAR},
      kcmc = #{record.kcmc,jdbcType=VARCHAR},
      kcjj = #{record.kcjj,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kcinfo
    set kcnum = #{record.kcnum,jdbcType=VARCHAR},
      kcxf = #{record.kcxf,jdbcType=VARCHAR},
      kcxs = #{record.kcxs,jdbcType=VARCHAR},
      deptnum = #{record.deptnum,jdbcType=VARCHAR},
      kclx = #{record.kclx,jdbcType=VARCHAR},
      kcmc = #{record.kcmc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.Kcinfo" >
    update kcinfo
    <set >
      <if test="kcxf != null" >
        kcxf = #{kcxf,jdbcType=VARCHAR},
      </if>
      <if test="kcxs != null" >
        kcxs = #{kcxs,jdbcType=VARCHAR},
      </if>
      <if test="deptnum != null" >
        deptnum = #{deptnum,jdbcType=VARCHAR},
      </if>
      <if test="kclx != null" >
        kclx = #{kclx,jdbcType=VARCHAR},
      </if>
      <if test="kcmc != null" >
        kcmc = #{kcmc,jdbcType=VARCHAR},
      </if>
      <if test="kcjj != null" >
        kcjj = #{kcjj,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where kcnum = #{kcnum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="po.Kcinfo" >
    update kcinfo
    set kcxf = #{kcxf,jdbcType=VARCHAR},
      kcxs = #{kcxs,jdbcType=VARCHAR},
      deptnum = #{deptnum,jdbcType=VARCHAR},
      kclx = #{kclx,jdbcType=VARCHAR},
      kcmc = #{kcmc,jdbcType=VARCHAR},
      kcjj = #{kcjj,jdbcType=LONGVARCHAR}
    where kcnum = #{kcnum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Kcinfo" >
    update kcinfo
    set kcxf = #{kcxf,jdbcType=VARCHAR},
      kcxs = #{kcxs,jdbcType=VARCHAR},
      deptnum = #{deptnum,jdbcType=VARCHAR},
      kclx = #{kclx,jdbcType=VARCHAR},
      kcmc = #{kcmc,jdbcType=VARCHAR}
    where kcnum = #{kcnum,jdbcType=VARCHAR}
  </update>
</mapper>