<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="othermapper.ClassinfoCustomMapper">

    <select id="queryClassinfo"  resultType="pojoCustom.ClassinfoCustom">
        SELECT classNum,classMan,ClassManTel,LimitNum ,kslxmc FROM classinfo,kslxsjzd WHERE classinfo.ClassType=kslxsjzd.id limit #{0},#{1};
    </select>
    <select id="queryClassinfoNum"  resultType="Integer">
          SELECT COUNT(*) FROM classinfo,kslxsjzd WHERE classinfo.ClassType=kslxsjzd.id;
    </select>

    <select id="searchFreeClass"  resultType="pojoCustom.ClassinfoCustom">
        SELECT * FROM classinfo WHERE NOT EXISTS (SELECT * FROM courseinfo WHERE TermYear=#{1} AND TermTime=#{2} AND courseday = #{3} AND CourseDayTime=#{4}  AND CourseTeacherNum=#{5}AND
        courseinfo.ClassNum=classinfo.ClassNum) AND classinfo.ClassType=#{0};
    </select>
</mapper>