<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace就是mapper接口的地址
-->
<mapper namespace="othermapper.MyTeacherMapper">
    <!-- 这个value是固定写法的  然后百分号和美元符号别忘 返回值为user对象 会自动帮你封装成list的  自动帮你选择selectone还是selectlist -->
    <resultMap type="po.Rolepermission" id="RolepermissionMap">
    </resultMap>
    <!--多参数-->
    <select id="selPermissionByTeacherNum"  resultMap="RolepermissionMap">
       select * from rolepermission where role in (SELECT TeacherRole FROM teacherinfo where TeacherNum=#{TeacherNum});
    </select>

    <select id="teacherCourseInfoTable"  resultType="po.Courseinfo">
        SELECT courseinfo.CourseName,courseinfo.ClassNum,courseinfo.CourseFree,courseinfo.CourseNumLimit,
        courseinfo.courseStatus,courseinfo.CourseDay,courseinfo.CourseDayTime,courseinfo.TermYear,courseinfo.TermTime,courseinfo.CourseNum,courseinfo.ifGrade
         FROM courseinfo WHERE CourseTeacherNum=#{0} limit #{1},#{2};
    </select>

    <select id="teacherCourseInfoTotal"  resultType="Integer">
           SELECT COUNT(*) FROM courseinfo	WHERE courseinfo.CourseTeacherNum=#{0};
    </select>


    <select id="teacherCourseListStudentInfo"  resultType="poView.StudentInfoOfCourseView">
          select studentcourseinfo.StuCourseID,studentcourseinfo.Grade,studentinfo.StudentNum,
            studentinfo.StudentName,studentinfo.StudentPhoneNum,studentinfo.StudentSex,majorinfo.MajorName
             from studentcourseinfo left join studentinfo on
            studentinfo.StudentNum=studentcourseinfo.StudentNum
            left join majorinfo on studentinfo.MajorNum=majorinfo.MajorNum WHERE courseNum=#{0} limit #{1},#{2};
    </select>

    <select id="teacherCourseListStudentInfoTotal"  resultType="Integer">
        select count(*) from studentcourseinfo WHERE courseNum=#{0} ;
    </select>


    <update id="updateTeacherInfoForSelf" parameterType="po.Teacherinfo">
        UPDATE teacherinfo set teacherinfo.TeacherName= #{teachername}, teacherinfo.TeacherBirthday
        =#{teacherbirthday},teacherinfo.TeacherPhone= #{teacherphone}
        <if test="teacherpassword!=null and teacherpassword!=''">
            ,teacherinfo.TeacherPassword=#{teacherpassword}
        </if>
        <if test="teacherpic!=null and teacherpic!=''">
            ,teacherinfo.TeacherPic=#{teacherpic}
        </if>
        where teacherinfo.TeacherNum=#{teachernum};
    </update>
</mapper>